#background{
  position:fixed;
  width:100%;
  height:100%;
  background: #ebebeb;
}
#formContainer{
  position:absolute;
  margin:100px 20%;
  width:60%;
  padding:20px 40px;
  background: #FFF;
}
p.center{
  text-align:center;
}

fieldset{
  border:none;
}
form *{
  font-family:'Sansation';
}

form{
  padding:0 20px;
}

h1.formTitle{
  margin: 15px 0px;
  font-size: 2rem;
}
div.surveySection{
    margin: 20px 0px;
}
h2.sectionTitle{
  border-bottom: 2px solid #ebebeb;
  font-size:1.2rem;
}
div.questionContainer{
    padding: 1em 20px;
}
div.question{
  visibility: visible;
  width:auto;
  height:auto;
  margin:20px 0 ;
}
div.question.hidden{
  visibility: hidden;
  display:none;
  width: 0;
  height: 0;
  margin:0;
  padding:0;
}
div.question legend.questionCaption{
  display:block;
  font-size: 1rem;
}

legend.questionCaption p.index{
  width:1rem;
  display:inline-block;
  vertical-align:top;
}

legend.questionCaption p.caption{
  width:90%;
  display:inline-block;
}

fieldset.answer{
  margin:0 2.5rem;
}
label.answerItem{
  margin:10px 0 ;
}
label.answerItem p{
  font-size: .9rem;
  margin:0 .2rem;
  display:inline;
  vertical-align: middle;
}
label.answerItem p.answerIndex{
  width:.5rem;
  display:inline-block;
}

label.answerItem p.leading{
  display: inline-block;
  float: left;
  clear: left;
  width: 25%;
  text-align: right;
}
label.answerItem legend,label.answerItem input{
  display:inline-block;
}
label.answerItem input{
  padding:5px;
  margin: 0 .1rem;
}
label.answerItem input[type=text],label.answerItem input[type=number]{
  border:2px solid #ebebeb;
  border-radius:5px;
}
input[type=submit]{
  background:#0fa1ca;
  color:#FFF;
  padding:10px;
  border:none;
  border-radius: 5px;
  margin:0 auto;
  cursor:pointer;
}
div#submit{
  border-top: 3px dashed #ebebeb;
  padding-top: 20px;
  margin-top:20px;
}

input[type=submit]:hover{
  background:#87c177;
}

label.likertVal{
  display: inline-block;
}
label.likertVal * {
  display:block;
}
